.container-login {
    padding: 40% 46px 0px 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-login>img {
    margin-bottom: 20%;
}


.login {

    width: 85vw;
    height: 7vh;
    margin-bottom: 16px;
    background: #FFFFFF;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;

    color: #7E7E7E;
    border: 0px;

}

.submit {
    width: 85vw;
    height: 7vh;
    background: #FF4791;
    border-radius: 8px;
    border: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    color: #FFFFFF;
}

.redirecionamento {
    background-color: #0E0E13;
    margin-top: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #FFFFFF;
    border: 0px;
}