.container-plano {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}
.off{
    filter: opacity(25%)
}
ion-icon {
    margin-top: 25px;
    margin-left: 22px;
    font-size: 40px;
    color: #FFFFFF;
    ;
}

.container-plano>h1 {
    margin-top: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.infos {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 22px;
    width: 80vw;

}

.itens {
    margin-bottom: 10px;
    margin-bottom: 2px;
}

.infos>h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

}

.infos>p {
    margin: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.itens>ion-icon {
    font-size: 10px;
    margin-left: 0px;
}

.container-pagamento {
    margin-top: 36px;
}

.input-principal {
    width: 100%;
    height: 50px;
    margin-bottom: 8px;
    background: #FFFFFF;
    border-radius: 8px;
}

.box-secundario-pagamento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 82vw;
}

.input-secundario {
    width: 47%;

    height: 50px;
    margin-bottom: 8px;
    background: #FFFFFF;
    border-radius: 8px;
}

.assinar {
    width: 82vw;
    height: 52px;
    left: 40px;
    top: 581px;

    background: #FF4791;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}
.container-off{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    filter:rgba(171, 51, 51, 0.7);
}
.finalizar {
    position: absolute;
    top: 40vh;
    left: 15vw;
    width: 55vw;
    height: 20vh;
    padding: 30px 22px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: #FFFFFF;
}
.botao-comprar{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.botao-comprar > button{
    width:95px ;
    height: 52px ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;    
    border-radius: 8px;
    border: 0px;
}
.botao-sim {
    background: #FF4791;
}

.botao-nao {
    background: #CECECE;

}
.close{
    box-sizing: border-box;
    position: fixed;
    right: 20px ;
    top:26px;
    width:40px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    background: #FFFFFF;
    border:0px;
}
.close>ion-icon{
    margin: 0 auto;
    font-size: 30px;
    color: #0E0E13;
    --ionicon-stroke-width: 32px;
}