@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.container-geral{
  width:100vw;
  height: 100vh;
  background-color: #0E0E13;
}
.container-login{
display: flex;
flex-direction: column;
}

